.navbar {
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
  border-radius: 0;
  top: 0;
  min-height: 50px;
  margin-bottom: 20px;
  display: block;
  box-sizing: border-box;
  font-weight: 100;
}

.page {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: 75px;
  box-sizing: border-box;
}

.before {
  display: table;
  content: ' ';
  box-sizing: border-box;
}

a:active {
  font-weight: 100;
}

.a-navbar-brand {
  text-decoration: none;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.navbar ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navbar ul li {
  list-style-type: none;
  -webkit-user-select: none;
  user-select: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.25px;
}

.nav-logo-holder {
  /*left:65px;*/
  /*top:10px;*/
  width: 110px;
  height: 30px;
  padding-top: 11px;
  margin-top: 0px;
  margin-right: 15px;
  margin-left: 0px;
  margin-bottom: 15px;
}

.nav-logo-img {
  position: absolute;
  width: 110px;
  height: 30px;
  margin: 0 0 0 15px !important;
  padding: 0;
}

.a-navbar-brand .nav-copy {
  position: relative;
  text-transform: none;
  letter-spacing: 1.16px;
  margin-top: 9px;
  padding-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 0;
}

.base {
  position: relative;
  display: block;
  box-sizing: border-box;
}

.link {
  padding: 10px 15px;
  line-height: 20px;
  position: relative;
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  background-color: transparent;
  text-underline: none;
  color: #e7e7e7;
}

.left {
  position: fixed;
  z-index: 99999;
  float: left;
  height: inherit;
  background: #337ab7;
  display: inline-block;
  margin-left: -5px;
  margin-right: 10px;
  white-space: nowrap;
  width: 65px;
  transition: width 1s;
}

.left:hover {
  width: 175px;
}

.item:hover {
  background-color: #ccc;
}

.left .icon {
  margin: 10px;
  margin-right: 20px;
  width: 20px;
  color: #fff;
}

.item {
  height: 50px;
  overflow: hidden;
  color: #fff;
}

.badge-notify {
  background: #13aa52;
  position: relative;
  top: -15px;
  left: -3px;
}
